<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>To do list</h1>
      <ul>
        <% @missions.each do |mission| %>
          <li>
            <h3><%= link_to(mission.name, mission_path(mission)) %>  (<%= mission.done ? "done" : "to do" %>) </h3>
            <p><%= link_to("Edit",edit_path(mission)) %> <%= link_to("Delete",mission_path(mission),method: :delete, data: { confirm: "Are you sure?" }) %></p>
          </li>
        <% end %>
      </ul>
      <p><%= link_to("New task", missions_new_path, class: "btn btn-primary btn-lg") %></p>
    </div>
  </div>
</div>

