<h1><%= @mission.name %></h1>
<h3>Description: <%= @mission.description %></h3>
<h3>Status: <%= @mission.done ? "done" : "to do" %></h3>
<p><%= link_to("Edit",edit_path(@mission)) %> <%= link_to("Delete",mission_path(mission),method: :delete, data: { confirm: "Are you sure?" }) %></p>
